@import 'normalize.css';

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/pxiEyp8kv8JHgFVrJJfecg.woff2');
    font-weight: 700;
}

:root{
    --primary: #fe2c55;
    --black: #000;
    --text-color: #161823;
    --white: #fff;
    --font-family: "TikTokFont", sans-serif;

    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontai-spacer: 24px;

    --search-border-radius: 92px;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
}
button,input,[tabindex]{
    outline: none;
    border: none;
}
a[href]{
    text-decoration: none;
    color: var(--text-color);
}
li{
    list-style-type: none;
}

body {
    .tippy-box {
    background-color: rgba(84,84,84,.92);
    font-weight: 600;
    border-radius: 8px;
    font-size: 1.6rem;
    line-height: 2.2rem;
    }   
    .tippy-arrow{
        color: rgba(84,84,84,.92);
    }
    .tippy-content{
        padding: 8px 9px;
    }
}
