.wrapper{
    --search-top-spacer:9px;
    --search-height: 46px;
    --search-btn: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
 
    display: flex;
    justify-content: center;
}
.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontai-spacer);
}



.actions{
    display: flex;
    align-items: center;
}
.more-btn{
    font-size: 2rem;
    margin-left: 28px;
    padding: 8px;
    background-color: transparent;
}
.action-btn{
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;

}
.user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}

.inbox-icon {
    position: relative;

    & + span{
        position: absolute;
        padding: .5px 3px;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        color: #fff;
        background-color: var(--primary);
        border-radius: 999px;
        right: 10.5%;
    }
}